* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: 'Work Sans', sans-serif;
}

ul li {
    position: relative;
    margin-left: 15px;
    transition: 1s;
}

ul li::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: -17px;
    left: 0;
    background-color: #9b8cec;
    transition: .4s;
}

ul li:hover::after {
    width: 100%;
}

ul .active:nth-child(1):after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -17px;
    left: 0;
    background-color: #9b8cec;
}

ul li ul {
    position: absolute;
    top: 145%;
    left: 0;
    width: 185px;
    list-style: none;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

ul li:hover ul {
    visibility: visible;
    opacity: 1;
}

ul li ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #0167fd;
    padding: 13px 18px;
    display: inline-block;
}

.button-0 {
    position: relative;
    z-index: 99;
    overflow: hidden;
}

.button-0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #7672fd;
    border-radius: 25px;
    transition: .4s;
    z-index: -1;
}

.button-0:hover::before {
    width: 100%;
}

.button-0:hover {
    color: #fff !important;
}

.slaider {
    background-color: #edf6ff;
    overflow: hidden;
}

.slaider .slaider-caption {
    padding: 100px 24px;
}

.slaider .slaider-caption p {}

.slaider-image {
    position: relative;
    padding: 238px 0;
}

.slaider-image img {
    width: 700px;
    position: absolute;
    top: -100px;
    right: -230px;
}

.button-2 {
    transition: .4s;
    padding: 9px 16px;
}

.button-2:hover {
    background-color: #fff;
    color: #5252f0;
}

.service {}

.service .service-caption {}

.service .service-caption h5 {
    color: #a08aea;
    font-weight: 400;
}

.service .service-caption h1 {
    position: relative;
}

.service .service-caption h1::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 7%;
    bottom: -8px;
    left: 0;
    background-color: #9b8cec;
}

.service .service-caption {}

.service .service-caption p {}

.service .card {
    background-color: #f9fcff;
    padding: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
}

.service .card h2 {}

.service .card span {
    background-color: #5252f0;
    color: #fff;
    padding: 13px;
    border-radius: 60px 60px 60px 0px;
    max-width: 22%;
}

.service .card span {
    position: relative;
}

.service .card span::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 50%;
    bottom: -17px;
    left: 0;
    background-color: #9b8cec;
    transition: .5s;
}

.service .card:hover span::after {
    width: 80%;
}

.service .card:hover span {
    background-color: #fff;
    color: #5252f0;
    transition: .4s;
}

.service .card:hover {
    background-color: #3a4af2;
    transform: scale(1.1);
    transition: .5s;
    color: #fff !important;
}

.service .card p {
    margin-top: 20px;
    color: #918f8e;
}

.service .card:hover p {
    color: #fff;
}

.service-image {
    position: relative;
}

.service-image img {
    position: absolute;
    left: -48px;
    bottom: -47px;
    z-index: -1;
}

.animated {
    background: linear-gradient(0deg, rgba(42, 52, 79, 0.8), rgba(42, 52, 79, 0.8)), url(./img/video-bg.jpg) no-repeat top center;
    padding-bottom: 247px;
}

.animated-caption {
    padding-top: 120px;
    color: #fff;
}

.animated h5 {
    font-size: 26px;
}

.animated h2 {
    position: relative;
    font-size: 45px;
}

.animated h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 9%;
    bottom: -15px;
    left: 568px;
    background-color: #fff;
}

.animated p {
    font-size: 22px;
    max-width: 49%;
    margin: 32px auto;
}

.animated span {
    margin-top: 50px;
    display: inline-block;
    background-color: #fff;
    padding: 32px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    color: #3763eb;
    position: relative;
}

.animated span::before {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 2px solid #fff;
    animation-name: aminul;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.animated span::after {
    content: "";
    position: absolute;
    left: -18px;
    top: -18px;
    height: 126px;
    width: 125px;
    border-radius: 50%;
    border: 2px solid #fff;
    animation-name: aminul;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes aminul {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.5);
    }
}

.pricing {
    background-color: #f6f9fc;
}

.priceing-caption {}

.priceing-caption h5 {
    color: #7e7aee;
    margin-bottom: 15px;
    margin-top: 30px;
    font-weight: 400;
}

.priceing-caption h2 {}

.priceing-caption p {
    max-width: 32%;
    font-size: 16px;
    margin: 60px auto 10px;
}

.priceing-caption h2 {
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

.priceing-caption h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 6%;
    bottom: -25px;
    left: 615px;
    background-color: #2253e9;
}

.card-1 {
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .1);
    padding: 50px;
    transition: .7s;
}

.card-1:hover {
    background-color: #2f65eb;
}

.card-1:hover h5 {
    color: #fff;
    transition: 2s;
}

.card-1:hover h1 {
    color: #fff;
    transition: 2s;
}

.card-1:hover .button a {
    background-color: #fff;
    color: #9b8cec;
}

.card-1:hover p {
    color: #fff !important;
}

.card-1:hover hr {
    color: #fff !important;
}

.card-1>hr {
    margin-right: 0px;
    margin-left: 73px;
    max-width: 55%;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 2px;
}

.button {}

.button a {
    text-decoration: none;
    color: #fff;
    background-color: #0d6efd;
    display: inline-block;
    padding: 11px 25px;
    position: relative;
    z-index: 99;
    overflow: hidden;
}

.button a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #3166ea;
    border-radius: 25px;
    transition: .4s;
    z-index: -1;
}

.button a:hover::before {
    width: 100%;
}

.article {
    background: linear-gradient(0deg, rgba(51, 93, 209, 0.8), rgba(51, 93, 209, 0.8)), url(./img/free-bg.jpg) no-repeat center center;
    padding: 120px 0;
    background-size: cover;
}

.article-caption {
    color: #fff;
}

.article-caption h2 {
    position: relative;
    font-size: 40px;
    font-weight: 600;
}

.article-caption h2::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 7%;
    bottom: -22px;
    left: 508px;
    background-color: #fff;
}

.article-caption p {
    font-size: 22px;
    max-width: 55%;
    margin: 38px auto;
}

.btn-0 {
    color: #0167fd;
    background-color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    z-index: 99;
}

.btn-0::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #2c64ec;
    border-radius: 25px;
    transition: .4s;
    z-index: -1;
}

.btn-0:hover::before {
    width: 100%;
    border: 1px solid #ddd;
}

.btn-0:hover {
    color: #fff;
}

.newsletter-form {
    background-color: #f8f9fa;
    padding-top: 80px;
    padding-bottom: 30px;
}

.newsletter-form .card-left {
    background-color: #3763eb;
    color: #fff;
    padding: 32px;
}

.newsletter-form .card-left h2 {}

.newsletter-form .card-left p {
    padding: 7px 0;
}

.newsletter-form .card-left input {}

.newsletter-form .card-left .btn-2 {
    color: #fff;
    text-decoration: none;
    margin-top: 163px;
    display: inline-block;
    border: 2px solid #ddd;
    padding: 3px 20px;
    font-size: 20px;
}

.newsletter-form .card-right {
    box-shadow: 3px 4px 30px 2px rgba(98, 120, 223, .2);
    padding: 30px;
}

.newsletter-form .card-right h2 {
    padding-bottom: 70px;
    font-size: 27px;
}

.newsletter-form .card-right a {
    padding: 11px 25px;
    font-size: 16px;
    max-width: 41%;
    display: inline-block;
}

.company {
	padding: 100px;
	padding-bottom: 0px;
}

.company .company-caption {}

.company .company-caption h5 {
    color: #a08aea;
    font-weight: 400;
}

.company .company-caption h1 {
    position: relative;
    max-width: 88%;
}

.company .company-caption h1::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 10%;
    bottom: -18px;
    left: 0;
    background-color: #2b59ea;
}

.company .company-caption p {
    max-width: 72%;
    margin-top: 20px;
}

.company-details {}

.company-details .card-3 {
    border-radius: 2px 0 0 0 !important;
}

.company-details .card-4 {
    border-radius: 0 2px 0 0 !important;
}

.company-details .card-5 {
    border-radius: 0 0 0 2px !important;
}

.company-details .card-6 {
    border-radius: 0 0 2px 0 !important;
}

.company-details .card img {
    width: 246px;
    opacity: 0.5;
}

.company-details .card-7 {
    transition: .4s;
}

.company-details .card-7:hover {
    background-color: #f6f9fc;
}

.company-details .card-7:hover img {
    opacity: 1;
}

.blog-caption h5 {
    color: #7e7aee;
    margin-bottom: 15px;
    margin-top: 30px;
    font-weight: 400;
}

.blog-caption p {
    max-width: 42%;
    font-size: 16px;
    margin: 60px auto 10px;
}

.blog-caption h2 {
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

.blog-caption h2::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 6%;
    bottom: -25px;
    left: 615px;
    background-color: #2253e9;
}

.card-image {
    position: relative;
}

.image-logo {
    position: absolute;
    right: 20px;
    top: 205px;
    padding: 5px 6px;
}

.image-logo img {
    height: 40px;
    width: 40px;
}

.image-logo span {
    padding: 0px 8px 0px 3px;
}

.contact {
    background-color: #081828;
}

.contact h4 {
    color: #fff;
    margin-bottom: 25px;
    border-left: 3px solid #3864ef;
    padding-left: 10px;
}

.contact p {
    color: #a5a8b6;
}

.contact .text-white {
    max-width: 70%;
}

.contact span {
    padding: 0px 15px;
    font-size: 18px;
}
